@import '../../consts.scss';

.logo-ref {
    width:32px;
    height:32px;
    user-select: none;
    border-radius: 10%;
    
    &:active {
        @include transform-09;
        @include hover-filter;
    }
    
    &:hover {
        @include hover-filter;
    }

    &:after, &:before {
        content: none;
    }

    img {
        display:block;
        width:100%;
        height:100%;
    }  
}