@import '../../consts.scss';

.feed {
    .lists {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        border-bottom: $border-basic;

        > .list {
            // width:33%;
        }

    }

    > *:not(:first-child) {
        margin-top:10px;
    }
}