@import '../../consts.scss';

.bio-page {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:100%;

    .main {
        flex-grow: 1;
        padding:$padding-big;
        
        > *:not(:first-child) {
            margin-top:20px;
        }
    }

    .sidebar {
        width:300px;
        padding:$padding-big;
    }
}