@import '../../consts.scss';

.list {
   display:flex;
   flex-direction: column;
   align-items: center;
   padding:0 10px;

   .title {
      border-bottom:$border-bold;
      width:100%;
      text-align: center;
   }
   
   ul {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
         display:inline-block;
         margin:5px;
         border:$border-basic;
         border-radius: $border-radius-basic;
         background-color: $button-main-bg;
         padding:5px;
      }
   }
}