@import '../../consts.scss';

.info-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.2em;

    @media screen and (max-width:$width-small) {
        flex-direction: column;
        
        > *:not(:first-child) {
            margin-top:10px;
        }   
    }

    @media screen and (min-width:$width-small) {
        flex-direction: row;

        > *:not(:first-child) {
            margin-left:20px;
        }   
    }

    .info {
        display:flex;
        flex-direction: column;
        > *:not(:first-child) {
            margin-top:5px;
        }  

        @media screen and (max-width:$width-small) {
            align-items: center;
        }
    
        @media screen and (min-width:$width-small) {
            align-items: flex-start;      
        } 
    }

    .contacts {
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        @media screen and (max-width:$width-small) {
            align-items: center;
        }
    
        @media screen and (min-width:$width-small) {
            align-items: flex-end;   
        } 

        > *:not(:first-child) {
            margin-top:5px;
        }

        a {
            color: $main-text-color;
        }

        .logos {
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            > *:not(:first-child) {
                margin-left:10px;
            }
        }
    }    
}