@import '../../consts.scss';

.header {
    width:100%;
    height:$header-height;
    background-color: $header-bg-color;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 20px;
    box-shadow: $box-shadow-basic;

    span {
        font-size:2em;
    }
}