@import '../../consts.scss';

.footer {
    width:100%;
    height:$footer-height;
    background-color: $footer-bg-color;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px 20px;

    span {
        font-size:1em;
    }
}