@import './consts.scss';

.app {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width:$width-min;   
    background-color: $main-bg-color;
    .container {
        flex-grow:1;
        
        @media screen and (max-width:$width-avg) {
                width:100%;    
                padding:$padding-big;      
        }

        @media screen and (min-width:$width-avg) and (max-width:$width-big) {
                width:$width-avg;
                padding:$padding-big;        
        }
        
        @media screen and (min-width:$width-big) {
                width:$width-big;    
                padding:$padding-giant;     
        }
    }
}

