//html body
$main-text-color: rgb(31, 31, 31);

//main
$main-bg-color: #fff4d4;
// $main-bg-color: #bfb8ad44;

//header
$header-height:50px;
$header-bg-color: #fde4a39c;
// $header-bg-color: #fdebbf9c;

//footer
$footer-height:50px;

//sidebar
$sidebar-bg-color:#DFBBB1;


//utils
$padding-big:20px;
$padding-basic:10px;
$padding-giant:20px 40px;

//width params
$width-big: 1920px;
$width-avg: 1366px;
$width-small: 768px;
$width-min: 320px;


//hover
@mixin hover-filter {
    filter: brightness(0.8);
}

//click
@mixin transform-09 {
    transform: scale(0.9);
}

//buttons
$button-main-bg:rgb(140, 255, 190);

//borders
$border-radius-basic:4px;
$border-color-basic:lightgray;
$border-size-basic:1px;
$border-size-bold:2px;
$border-basic: $border-size-basic solid $border-color-basic;
$border-bold: $border-size-bold solid $border-color-basic;

//box-shadows
$box-shadow-basic:
    1px 0 0 0 $border-color-basic, 
    0 1px 0 0 $border-color-basic, 
    1px 1px 0 0 $border-color-basic,   /* Just to fix the corner */
    1px 0 0 0 $border-color-basic inset, 
    0 1px 0 0 $border-color-basic inset;