//html body
$main-text-color: rgb(31, 31, 31);
$text-link-color: #0088ff;

//main
$main-bg-color: rgb(250, 250, 250);

//header
$header-height:50px;
$header-bg-color: #BBDEF0;

//footer
$footer-height:50px;

//utils
$padding-big:20px;
$padding-basic:10px;
$padding-giant:20px 40px;

//width params
$width-big: 1920px;
$width-avg: 1366px;
$width-small: 768px;
$width-min: 320px;

//buttons
$button-main-bg:rgb(223, 223, 223);
// $button-main-bg:#e5e5e5;

//borders
$border-radius-basic:4px;
$border-color-basic:rgb(150, 150, 150);
$border-size-basic:1px;
$border-size-bold:2px;
$border-basic: $border-size-basic solid $border-color-basic;
$border-bold: $border-size-bold solid $border-color-basic;

//box-shadows
$box-shadow-basic: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

    //hover
@mixin hover-filter {
    background-color: $button-main-bg;
    filter: brightness(0.8);
}

//click
@mixin transform-09 {
    transform: scale(0.9);
}