@import './consts.scss';

html, body {
    margin:0;
    padding:0;
    font: 16px "Fira Sans", sans-serif;
    color: $main-text-color;
    
    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    ul, li {
        list-style: none;
    }   

    p {
        text-align:justify;
    }
}

.logo {
    height:32px;
    width:32px;
}