@import './consts.scss';

html, body {
    margin:0;
    padding:0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    color: $main-text-color;
    
    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    ul, li {
        list-style: none;
    }   

    p {
        text-align:justify;
    }

    a {
        color: $main-text-color;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        font-weight: 500;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 1rem;
            height: 1px;
            background-color: $text-link-color;
            transition: width 0.5s cubic-bezier(0.25, 1, 0.5, 1);
          }
        &:hover {
            &:after{
                left: 0;
                right: auto;
                width: 100%;
              }
        }
    }
}

#root {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width:$width-min;   
    background-color: $main-bg-color;
    .container {
        flex-grow:1;
        
        @media screen and (max-width:$width-avg) {
                width:100%;    
                padding:$padding-big;      
        }

        @media screen and (min-width:$width-big) {
                max-width:$width-big;    
                padding:$padding-giant;     
        }

        @media screen and (min-width:$width-avg) and (max-width:$width-big) {
                max-width:$width-avg;
                padding:$padding-giant;        
        }
    }
}

.logo {
    height:32px;
    width:32px;
}