@import '../../consts.scss';

.publication {

    .title {
        display:inline-block; 
        border-bottom: 1px solid $border-color-basic;
    }

    position: relative;
    padding: 10px;
    > *:not(:first-child) {
        margin-top:5px;
    }
    // &:after {
    //     content:'';
    //     position: absolute;
    //     top:0;
    //     bottom:0;
    //     height:100%;
    //     width:100%;
    //     box-shadow: 0px 0px 4px 1px rgba(34, 60, 80, 0.4);
    // }
}